body {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    --color-white: #FFFFFF;
    --color-background: #F2F2F2;
    --color-light-gray: #AFBAC5;
    --color-gray: #6E7681;
    --color-blue: #388BFD;
    --color-dark-blue: #21262E;
    --color-green: #34C759;
}